{
  "env": {
    "browser": true,
    "commonjs": true,
    "amd": true
  },
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ]
}
